# Base dependencies
matplotlib>=3.2.2
numpy>=1.18.5
opencv-python>=4.1.2
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1

# Flask & Web Dependencies
flask
flask-cors
werkzeug

# YOLOv5 & Torch
torch>=2.0.1  # Fix: Version compatibility
torchvision>=0.15.2
ultralytics  # Fix: This is required for YOLOv5
